# List 
always enclosed in sequre[] brackets

In [2]:
#lets make a list wich contains the record of one employeee of a company as (name,age,gender,salary)

In [4]:
employee1 = ["Abdullah" , 27 , "male" , 29000]

In [5]:
print(type(employee1))

<class 'list'>

In [6]:
print("The Name of employee1: " , employee1[0])

The Name of employee1:  Abdullah

In [17]:
employee1_data = [ employee1[0] , employee1[1] ,  employee1[2]]

In [18]:
print(employee1)

['Abdullah', 27, 'male', 29000]

In [20]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [25]:
employee1.index("Abdullah")

0

In [28]:
employee1.index(27)

1

In [31]:
print("Index of the name is : " , employee1.index("Abdullah"))

Index of the name is :  0

In [34]:
Ad

In [35]:
employee1.append("Father Name")

In [36]:
employee1

['Abdullah', 27, 'male', 29000, 'Father Name']

# Adding and changing elements

In [39]:
 employee1.insert(1 , "Father name")

In [40]:
employee1

['Abdullah', 'Father name', 27, 'male', 29000, 'Father Name']

In [45]:
"Male" in employee1

False

In [46]:
'27' in employee1

False

In [66]:
update_employee = []

In [67]:
update_employee.insert(0 , "city")
update_employee.insert(1 , "country")
update_employee.insert(2 , "phone")

In [68]:
print(update_employee)

['city', 'country', 'phone']

In [5]:
general_list = employee1 + update_employee

NameError: name 'employee1' is not defined

In [75]:
general_list

['Abdullah',
 'Father name',
 27,
 'male',
 29000,
 'Father Name',
 'city',
 'country',
 'phone']

In [80]:
general_list[-1]="033152223131"

In [81]:
general_list

['Abdullah',
 'Father name',
 27,
 'male',
 29000,
 'Father Name',
 'city',
 'country',
 '033152223131']

# DELETING AND REMOVING FROM THE LIST

In [82]:
general_list

['Abdullah',
 'Father name',
 27,
 'male',
 29000,
 'Father Name',
 'city',
 'country',
 '033152223131']

In [83]:
del general_list[-1]

In [4]:
general_list

NameError: name 'general_list' is not defined

del general_list["city"] // errror now we can use the remove method to delete enetry with name

In [90]:
general_list.remove("city")

In [91]:
general_list

['Abdullah', 'Father name', 27, 'male', 29000, 'Father Name', 'country']

In [92]:
#changing salary of the employee

In [94]:
general_list.index(29000)

4

In [95]:
general_list[4] = 30000

In [96]:
general_list

['Abdullah', 'Father name', 27, 'male', 30000, 'Father Name', 'country']

In [97]:
general_list.pop()

'country'

In [99]:
general_list.pop(1)

'Father name'

In [100]:
general_list

['Abdullah', 27, 'male', 30000, 'Father Name']

In [101]:
# so the pop method is alos using to remove the element from the list

# slicing

In [2]:
print(general_list)

NameError: name 'general_list' is not defined

In [3]:
general_list

NameError: name 'general_list' is not defined