# List 
always enclosed in sequre[] brackets

In [2]:
#lets make a list wich contains the record of one employeee of a company as (name,age,gender,salary)

In [4]:
employee1 = ["Abdullah" , 27 , "male" , 29000]

In [5]:
print(type(employee1))

<class 'list'>

In [6]:
print("The Name of employee1: " , employee1[0])

The Name of employee1:  Abdullah

In [17]:
employee1_data = [ employee1[0] , employee1[1] ,  employee1[2]]

In [18]:
print(employee1)

['Abdullah', 27, 'male', 29000]

In [20]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [25]:
employee1.index("Abdullah")

0

In [28]:
employee1.index(27)

1

In [31]:
print("Index of the name is : " , employee1.index("Abdullah"))

Index of the name is :  0

In [34]:
Ad

In [35]:
employee1.append("Father Name")

In [36]:
employee1

['Abdullah', 27, 'male', 29000, 'Father Name']

# Adding and changing elements

In [39]:
 employee1.insert(1 , "Father name")

In [40]:
employee1

['Abdullah', 'Father name', 27, 'male', 29000, 'Father Name']

In [45]:
"Male" in employee1

False

In [46]:
'27' in employee1

False

In [66]:
update_employee = []

In [67]:
update_employee.insert(0 , "city")
update_employee.insert(1 , "country")
update_employee.insert(2 , "phone")

In [68]:
print(update_employee)

['city', 'country', 'phone']

In [74]:
general_list = employee1 + update_employee

In [75]:
general_list

['Abdullah',
 'Father name',
 27,
 'male',
 29000,
 'Father Name',
 'city',
 'country',
 'phone']

In [80]:
general_list[-1]="033152223131"

In [81]:
general_list

['Abdullah',
 'Father name',
 27,
 'male',
 29000,
 'Father Name',
 'city',
 'country',
 '033152223131']

# DELETING AND REMOVING FROM THE LIST

In [82]:
general_list

['Abdullah',
 'Father name',
 27,
 'male',
 29000,
 'Father Name',
 'city',
 'country',
 '033152223131']

In [83]:
del general_list[-1]

In [84]:
general_list

['Abdullah',
 'Father name',
 27,
 'male',
 29000,
 'Father Name',
 'city',
 'country']

del general_list["city"] // errror now we can use the remove method to delete enetry with name

In [90]:
general_list.remove("city")

In [91]:
general_list

['Abdullah', 'Father name', 27, 'male', 29000, 'Father Name', 'country']

In [92]:
#changing salary of the employee

In [94]:
general_list.index(29000)

4

In [95]:
general_list[4] = 30000

In [96]:
general_list

['Abdullah', 'Father name', 27, 'male', 30000, 'Father Name', 'country']

In [97]:
general_list.pop()

'country'

In [99]:
general_list.pop(1)

'Father name'

In [100]:
general_list

['Abdullah', 27, 'male', 30000, 'Father Name']

In [101]:
# so the pop method is alos using to remove the element from the list

In [102]:
general_list

['Abdullah', 27, 'male', 30000, 'Father Name']

In [103]:
general_list[1:]

[27, 'male', 30000, 'Father Name']

In [104]:
general_list[-3:]

['male', 30000, 'Father Name']

In [105]:
general_list[1:3]

[27, 'male']

In [106]:
general_list[0:2]

['Abdullah', 27]

In [107]:
employee1=['waqas', 27, 'male',350000]
employee2=['faizan',22,'male',300000]

In [108]:
employees=[employee1, employee2, ['khurram', 25, 'male', 320000],["saad", 23, 'male', 200000]]

In [109]:
employees

[['waqas', 27, 'male', 350000],
 ['faizan', 22, 'male', 300000],
 ['khurram', 25, 'male', 320000],
 ['saad', 23, 'male', 200000]]

In [110]:
len(employees)

4

In [113]:
total_salary = employees[0][-1]+employees[1][-1]+employees[2][-1]+employees[-1][-1]

In [114]:
total_salary

1170000

# For Loop

In [115]:
total_salary=0
for item in employees:
    total_salary+=item[-1]

In [116]:
total_salary

1170000

In [117]:
salary = []
for i in employees:
    salary.append(i[-1])

In [118]:
salary

[350000, 300000, 320000, 200000]

In [119]:
array = []

In [126]:
array = []
for row1 in employees:
    array.append(row1[0])

In [127]:
array

['waqas', 'faizan', 'khurram', 'saad']

In [129]:
salary_with_name = []
for i in employees:
    salary_with_name.append([i[0], i[-1]])

In [130]:
salary_with_name

[['waqas', 350000], ['faizan', 300000], ['khurram', 320000], ['saad', 200000]]

In [ ]:
salary_with_gender =